/* Color defintions */

:root {
  /* --primary color will be set from page so its dynamic  */
  --primary: hsl(241, 57%, 45%);

  /* TODO: Need to support a primary color with a white bg and change the lightness to work properly. */
  
  --header: hsl(from var(--primary) h s calc(l + 30));
  --text: hsl(from var(--primary) h s calc(l + 35));

  --primary-light: hsl(from var(--primary) h s calc(l + 5));
  --primary-light2: hsl(from var(--primary) h s calc(l + 10));
  --primary-light3: hsl(from var(--primary) h s calc(l + 15));
  --primary-light4: hsl(from var(--primary) h s calc(l + 20));
  --primary-light5: hsl(from var(--primary) h s calc(l + 25));
  --primary-light6: hsl(from var(--primary) h s calc(l + 30));
}

/* End color definitions */

/* Set colors on elements h1, p, span, a (etc..) */

h1, h2, h3, h4, h5, h6 {
  color: var(--header);
}

p, a, span {
  color: var(--text);
}

/* Base styling */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
}
/* End base styling */

.colors-container {
  min-height: 80vh;
  max-width: 1400px;
  margin: 0px auto 0px auto;
  display: flex;
  padding: 0px 16px 0px 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 100px;

  h1 {
    font-size: 44px;
    text-align: center;
  }

  p {
    font-size: 24px;
    text-align: center;
  }

  .color-picker-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    p {
      position: absolute;
    }
  }

  input[type="color"] {
    width: 300px;
    height: 100px;
  }
}

.color-definitions {
  min-height: 80vh;
  max-width: 1400px;
  margin: 0px auto 0px auto;
  display: flex;
  padding: 0px 16px 0px 16px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding-top: 100px;
}

.css-vars-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 700px;
  width: 100%;

  .var-container {
    width: 100%;
    display: flex;

    .name {
      width: 50%;
      padding: 16px 8px 16px 8px;
      background-color: var(--primary-light2);
    }

    .value {
      width: 50%;
      padding: 16px 8px 16px 8px;
      background-color: var(--primary-light3);
    }
  }
}